@import 'var';
@import 'mixins';

.projectsHome{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 2rem;
    
    &__header{
        @include subheading;
    }
    &__container{
        padding-top: 4rem;
    }
}

.projectHome{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.1s;
    &__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__1{
        background: red;
    }
    &__2{
        background: violet;
    }
}
.projectHome:hover{
    transform: scale(1.05);
    transition: 0.1s;
}