// IMPORTS
@import 'var';
@import 'mixins';
@import 'nav';
@import 'hero';
@import 'projects';
@import 'about';
@import 'contact';
@import 'footer';
@import 'particles';
@import 'singleProject';
@import 'projectModal';
@import 'projectsHome';

// RESETS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.pageContainer{
    width: 70%;
    margin: 0 auto;
    @media #{$tablet}{
        width: 80%;
    }
    @media #{$mobile}{
        width: 90%;
    }
}

.singleProject__container{
    min-height: 80vh;
}

// ANIMATION
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
 }

 
.arrow_down_div{
    position: absolute;
    bottom: 1rem; /* Margin from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    transition: 0.2s;
}
.arrow_down_div:hover .arrow_down{
    transform: scale(1.2);
    transition: 0.2s;
}
.arrow_down_div:hover .arrow_down path{
    transition: 0.2s;
    fill: #ECB22E;
}
.arrow_down path {
    fill: $pink;
    transition: 0.2s;
}


