// IMPORTS
@import 'nav';
@import 'hero';
@import 'projects';
@import 'about';
@import 'contact';
@import 'footer';
@import 'var';
@import 'mixins';
@import 'particles';
@import 'singleProject';
@import 'projectModal';
@import 'projectsHome';

// RESETS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.pageContainer{
    width: 70%;
    margin: 0 auto;
    @media #{$tablet}{
        width: 80%;
    }
    @media #{$mobile}{
        width: 90%;
    }
}

.singleProject__container{
    min-height: 80vh;
}

// ANIMATION
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
 }